:root {
  box-sizing: border-box; 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Futura', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit; 
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}